{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "bracketSpacing": false,
    "jsxSingleQuote": true,
    "singleAttributePerLine": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "printWidth": 120
}
