.character-list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.filters-block {
    display: flex;
    margin-top: 16px;
}

.filter-element {
    margin-right: 28px;
}

.inputs-test {
    display: flex;
    flex-direction: column;
}

.text-test-element {
    margin: 20px 0;
}

.character-list-test__card-info {
    margin-top: 35px;
    margin-bottom: 5px;
}
