.char-card {
    width: 508px;
    height: 248px;
    box-shadow: 0 0 8px 2px var(--color-shadow);
    position: relative;
    display: flex;
    gap: 13px;
}

.char-card-info {
    margin-top: 7px;
    margin-right: 7px;
    min-width: 0;
}

.char-card-info-field-block {
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}
